ul, ol {
  list-style: none;
}
.site-header {
  margin: 0 auto;
  background: darkslateblue;
  color: white;
}
.text-center {
  text-align: center;
}
.py-1 {
  padding: 1rem
}


form, fieldset {
  border: 0;
  margin: 0;
}

label, legend {
  display: none;
}
input[type="text"] {
  outline: none;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem ;
}
.todos {
  margin: 0 auto;
}
.del {
  position: absolute;
  right: 0;
}